assignment-3.txt
[{"id":"be361b34.2820d8","type":"wiotp out","z":"69042210.b3716c","authType":"d","qs":"true","qsDeviceId":"be361b34.2820d8","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":735,"y":120,"wires":[]},{"id":"ea26ce2c.2deeb","type":"inject","z":"69042210.b3716c","name":"test","topic":"test","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"1","x":80,"y":120,"wires":[["24b68179.bc25ce"]]},{"id":"44b525eb.7f4c1c","type":"function","z":"69042210.b3716c","name":"testmessage1","func":"var str = msg.payload;\nvar res = parseFloat(str.slice(5));\nmsg.payload = res;\n\nmsg.payload = {\"d\":{\"temp\": res}};\nreturn msg;","outputs":1,"noerr":0,"x":495,"y":220,"wires":[["be361b34.2820d8","2ea2062.69bdbfa"]]},{"id":"2ea2062.69bdbfa","type":"debug","z":"69042210.b3716c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":705,"y":260,"wires":[]},{"id":"24b68179.bc25ce","type":"exec","z":"69042210.b3716c","command":"vcgencmd ","addpay":true,"append":"measure_temp","useSpawn":"false","timer":"","oldrc":false,"name":"temp","x":277,"y":212,"wires":[["44b525eb.7f4c1c"],[],[]]}]