assignment-1.txt
[{"id":"86c11d9d.01d69","type":"inject","z":"5e4026b1.0fd7c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"","x":242.10000610351562,"y":163.8000030517578,"wires":[["5e059a20.6195b4"]]},{"id":"5e059a20.6195b4","type":"random","z":"5e4026b1.0fd7c8","name":"Number_gen","low":"1","high":"10","inte":"true","x":416.10003662109375,"y":139,"wires":[["871aeecb.311e"]]},{"id":"30a520d2.5d897","type":"debug","z":"5e4026b1.0fd7c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":844.1001205444336,"y":334.40003776550293,"wires":[]},{"id":"871aeecb.311e","type":"function","z":"5e4026b1.0fd7c8","name":"comparator","func":"if(msg.payload<5){\nmsg= {\"payload\":\"Number \"+msg.payload+\" is a low number\"};\n    \n}\nelse{\nmsg= {\"payload\":\"Number \"+msg.payload+\" is a high number\"};\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":631.1000671386719,"y":204.20000743865967,"wires":[["30a520d2.5d897"]]}]