assignment-5.txt
[{"id":"86bc59ee.48d848","type":"debug","z":"25be91ff.90b9ce","name":"","active":false,"console":"false","complete":"false","x":720,"y":60,"wires":[]},{"id":"fce1eeb5.600b5","type":"inject","z":"25be91ff.90b9ce","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":110,"y":60,"wires":[["5b72a628.248028"]]},{"id":"5b72a628.248028","type":"exec","z":"25be91ff.90b9ce","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Temp","x":317,"y":52,"wires":[["3210e844.768a08"],[],[]]},{"id":"3210e844.768a08","type":"function","z":"25be91ff.90b9ce","name":"format data","func":"str = msg.payload;\n// pattern = /[0-9]/g; \n// result = str.search(pattern);\nresult = str.slice(5,9);\n\nvalue = parseFloat(result)\nmsg.payload = {'d' : {'temp' : value }};\nreturn msg;","outputs":1,"noerr":0,"x":499,"y":60,"wires":[["86bc59ee.48d848","74fc9741.a24078"]]},{"id":"7f74cb74.5aae14","type":"rpi-sensehatsim in","z":"25be91ff.90b9ce","name":"","motion":false,"env":true,"stick":false,"x":120,"y":280,"wires":[["72f16da0.7b65a4","50a89f8c.ab9e9","5d699fa2.c63ee"]]},{"id":"454d4b8d.a8d7b4","type":"debug","z":"25be91ff.90b9ce","name":"","active":false,"console":"false","complete":"payload","x":547,"y":212,"wires":[]},{"id":"881d2173.7b317","type":"wiotp out","z":"25be91ff.90b9ce","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"a771e955.793e78","deviceType":"sensehat","deviceId":"senb827ebf3431f","event":"event","format":"json","qos":"","name":"","x":777,"y":272,"wires":[]},{"id":"72f16da0.7b65a4","type":"delay","z":"25be91ff.90b9ce","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":327,"y":272,"wires":[["454d4b8d.a8d7b4","421813b1.6fd68c"]]},{"id":"421813b1.6fd68c","type":"function","z":"25be91ff.90b9ce","name":"format data senseHAT","func":"temperature = msg.payload.temperature;\nhumidity = msg.payload.humidity;\nmsg.payload = {\"d\":{\"temperature\":temperature,\"humidity\":humidity}}\n\nreturn msg;","outputs":1,"noerr":0,"x":557,"y":272,"wires":[["cb278606.32d3e8","881d2173.7b317"]]},{"id":"cb278606.32d3e8","type":"debug","z":"25be91ff.90b9ce","name":"","active":false,"console":"false","complete":"false","x":787,"y":332,"wires":[]},{"id":"42e24d87.f68cc4","type":"wiotp in","z":"25be91ff.90b9ce","authType":"g","deviceKey":"1ca0bbf3.133414","deviceType":"sensehat","deviceId":"senb827ebf3431f","command":"+","commandType":"d","qos":"0","name":"final","x":90,"y":440,"wires":[["2bac19fc.eb87e6","50a89f8c.ab9e9"]]},{"id":"c93fb8b9.1763f8","type":"rpi-sensehatsim out","z":"25be91ff.90b9ce","name":"","x":570,"y":380,"wires":[]},{"id":"2bac19fc.eb87e6","type":"function","z":"25be91ff.90b9ce","name":"Caching command","func":"var command = msg.payload.screen;\nglobal.set('command',command);\nmsg.payload = command;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":480,"wires":[["bfe350c9.cb0df"]]},{"id":"bfe350c9.cb0df","type":"debug","z":"25be91ff.90b9ce","name":"","active":true,"console":"false","complete":"payload","x":613,"y":489,"wires":[]},{"id":"50a89f8c.ab9e9","type":"function","z":"25be91ff.90b9ce","name":"finalflow","func":"var lastCmd = global.get('command');\nvar lastTemp = global.get('temp')\nvar a = parseInt(lastTemp/10);\nvar b = parseInt(lastTemp%10);\n\nswitch (lastCmd)\n{\n    case 'on':\n    {\n        switch (a)\n        {\n            case 0:\n            str1 = \"\\n*,*,maroon\";\n            //\n            switch (b)\n{\n        case 0:\n        str2 = \"\";\n        break;\n        case 1:\n        str2 =\"\\n5,1,silver\";\n        break;\n        case 2:\n        str2 =\"\\n5,1-2,silver\";\n        break;\n        case 3:\n        str2 =\"\\n5,1-3,silver\";\n        break;\n        case 4:\n        str2 =\"\\n5,1-4,silver\";\n        break;\n        case 5:\n        str2 =\"\\n5,1-5,silver\";\n        break;\n        case 6:\n        str2 =\"\\n5,1-6,silver\";\n        break;\n        case 7:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1,silver\";\n        break;\n        case 8:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-2,silver\";\n        break;\n        case 9:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-3,silver\";\n        break;\n}\n\n            break;\n\n            case 1:\n            str1 = \"\\n*,*,maroon\" + \"\\n1,1,silver\";\n            //\n            switch (b)\n{\n        case 0:\n        str2 = \"\";\n        break;\n        case 1:\n        str2 =\"\\n5,1,silver\";\n        break;\n        case 2:\n        str2 =\"\\n5,1-2,silver\";\n        break;\n        case 3:\n        str2 =\"\\n5,1-3,silver\";\n        break;\n        case 4:\n        str2 =\"\\n5,1-4,silver\";\n        break;\n        case 5:\n        str2 =\"\\n5,1-5,silver\";\n        break;\n        case 6:\n        str2 =\"\\n5,1-6,silver\";\n        break;\n        case 7:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1,silver\";\n        break;\n        case 8:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-2,silver\";\n        break;\n        case 9:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-3,silver\";\n        break;\n}\n\n            break;\n\n            case 2:\n            str1 = \"\\n*,*,maroon\" + \"\\n1,1-2,silver\";\n            //\n            switch (b)\n{\n        case 0:\n        str2 = \"\";\n        break;\n        case 1:\n        str2 =\"\\n5,1,silver\";\n        break;\n        case 2:\n        str2 =\"\\n5,1-2,silver\";\n        break;\n        case 3:\n        str2 =\"\\n5,1-3,silver\";\n        break;\n        case 4:\n        str2 =\"\\n5,1-4,silver\";\n        break;\n        case 5:\n        str2 =\"\\n5,1-5,silver\";\n        break;\n        case 6:\n        str2 =\"\\n5,1-6,silver\";\n        break;\n        case 7:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1,silver\";\n        break;\n        case 8:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-2,silver\";\n        break;\n        case 9:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-3,silver\";\n        break;\n}\n\n            break;\n\n            case 3:\n            str1 = \"\\n*,*,maroon\" + \"\\n1,1-3,silver\";\n            //\n            switch (b)\n{\n        case 0:\n        str2 = \"\";\n        break;\n        case 1:\n        str2 =\"\\n5,1,silver\";\n        break;\n        case 2:\n        str2 =\"\\n5,1-2,silver\";\n        break;\n        case 3:\n        str2 =\"\\n5,1-3,silver\";\n        break;\n        case 4:\n        str2 =\"\\n5,1-4,silver\";\n        break;\n        case 5:\n        str2 =\"\\n5,1-5,silver\";\n        break;\n        case 6:\n        str2 =\"\\n5,1-6,silver\";\n        break;\n        case 7:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1,silver\";\n        break;\n        case 8:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-2,silver\";\n        break;\n        case 9:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-3,silver\";\n        break;\n}\n\n            break;\n\n            case 4:\n            str1 = \"\\n*,*,maroon\" + \"\\n1,1-4,silver\";\n            //\n            switch (b)\n{\n        case 0:\n        str2 = \"\";\n        break;\n        case 1:\n        str2 =\"\\n5,1,silver\";\n        break;\n        case 2:\n        str2 =\"\\n5,1-2,silver\";\n        break;\n        case 3:\n        str2 =\"\\n5,1-3,silver\";\n        break;\n        case 4:\n        str2 =\"\\n5,1-4,silver\";\n        break;\n        case 5:\n        str2 =\"\\n5,1-5,silver\";\n        break;\n        case 6:\n        str2 =\"\\n5,1-6,silver\";\n        break;\n        case 7:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1,silver\";\n        break;\n        case 8:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-2,silver\";\n        break;\n        case 9:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-3,silver\";\n        break;\n}\n\n            break;\n            case 5:\n            str1 = \"\\n*,*,maroon\" + \"\\n1,1-5,silver\";\n            //\n            switch (b)\n{\n        case 0:\n        str2 = \"\";\n        break;\n        case 1:\n        str2 =\"\\n5,1,silver\";\n        break;\n        case 2:\n        str2 =\"\\n5,1-2,silver\";\n        break;\n        case 3:\n        str2 =\"\\n5,1-3,silver\";\n        break;\n        case 4:\n        str2 =\"\\n5,1-4,silver\";\n        break;\n        case 5:\n        str2 =\"\\n5,1-5,silver\";\n        break;\n        case 6:\n        str2 =\"\\n5,1-6,silver\";\n        break;\n        case 7:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1,silver\";\n        break;\n        case 8:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-2,silver\";\n        break;\n        case 9:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-3,silver\";\n        break;\n}\n\n            break;\n            case 6:\n            str1 = \"\\n*,*,maroon\" + \"\\n1,1-6,silver\";\n            //\n            switch (b)\n{\n        case 0:\n        str2 = \"\";\n        break;\n        case 1:\n        str2 =\"\\n5,1,silver\";\n        break;\n        case 2:\n        str2 =\"\\n5,1-2,silver\";\n        break;\n        case 3:\n        str2 =\"\\n5,1-3,silver\";\n        break;\n        case 4:\n        str2 =\"\\n5,1-4,silver\";\n        break;\n        case 5:\n        str2 =\"\\n5,1-5,silver\";\n        break;\n        case 6:\n        str2 =\"\\n5,1-6,silver\";\n        break;\n        case 7:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1,silver\";\n        break;\n        case 8:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-2,silver\";\n        break;\n        case 9:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-3,silver\";\n        break;\n}\n\n            break;\n\n            case 7:\n            str1 = \"\\n*,*,maroon\" + \"\\n1,1-6,silver\"+ \"\\n2,1,silver\";\n            //\n            switch (b)\n{\n        case 0:\n        str2 = \"\";\n        break;\n        case 1:\n        str2 =\"\\n5,1,silver\";\n        break;\n        case 2:\n        str2 =\"\\n5,1-2,silver\";\n        break;\n        case 3:\n        str2 =\"\\n5,1-3,silver\";\n        break;\n        case 4:\n        str2 =\"\\n5,1-4,silver\";\n        break;\n        case 5:\n        str2 =\"\\n5,1-5,silver\";\n        break;\n        case 6:\n        str2 =\"\\n5,1-6,silver\";\n        break;\n        case 7:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1,silver\";\n        break;\n        case 8:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-2,silver\";\n        break;\n        case 9:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-3,silver\";\n        break;\n}\n\n            break;\n\n            case 8:\n            str1 = \"\\n*,*,maroon\" + \"\\n1,1-6,silver\"+ \"\\n2,1-2,silver\";\n            //\n            switch (b)\n{\n        case 0:\n        str2 = \"\";\n        break;\n        case 1:\n        str2 =\"\\n5,1,silver\";\n        break;\n        case 2:\n        str2 =\"\\n5,1-2,silver\";\n        break;\n        case 3:\n        str2 =\"\\n5,1-3,silver\";\n        break;\n        case 4:\n        str2 =\"\\n5,1-4,silver\";\n        break;\n        case 5:\n        str2 =\"\\n5,1-5,silver\";\n        break;\n        case 6:\n        str2 =\"\\n5,1-6,silver\";\n        break;\n        case 7:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1,silver\";\n        break;\n        case 8:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-2,silver\";\n        break;\n        case 9:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-3,silver\";\n        break;\n}\n\n            break;\n\n            case 9:\n            str1 = \"\\n*,*,maroon\" + \"\\n1,1-6,silver\"+ \"\\n2,1-3,silver\";\n            //\n            switch (b)\n{\n        case 0:\n        str2 = \"\";\n        break;\n        case 1:\n        str2 =\"\\n5,1,silver\";\n        break;\n        case 2:\n        str2 =\"\\n5,1-2,silver\";\n        break;\n        case 3:\n        str2 =\"\\n5,1-3,silver\";\n        break;\n        case 4:\n        str2 =\"\\n5,1-4,silver\";\n        break;\n        case 5:\n        str2 =\"\\n5,1-5,silver\";\n        break;\n        case 6:\n        str2 =\"\\n5,1-6,silver\";\n        break;\n        case 7:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1,silver\";\n        break;\n        case 8:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-2,silver\";\n        break;\n        case 9:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-3,silver\";\n        break;\n}\n\n            break;\n\n            default:\n            str1 = \"\\n*,*,maroon\";\n            str2 = \"\";\n            break;\n\n        }\nbreak;\n    }\ncase 'off':\n    {\n        switch (a)\n        {\n            case 0:\n            str1 = \"\\n*,*,green\";\n            //\n            switch (b)\n{\n        case 0:\n        str2 = \"\";\n        break;\n        case 1:\n        str2 =\"\\n5,1,silver\";\n        break;\n        case 2:\n        str2 =\"\\n5,1-2,silver\";\n        break;\n        case 3:\n        str2 =\"\\n5,1-3,silver\";\n        break;\n        case 4:\n        str2 =\"\\n5,1-4,silver\";\n        break;\n        case 5:\n        str2 =\"\\n5,1-5,silver\";\n        break;\n        case 6:\n        str2 =\"\\n5,1-6,silver\";\n        break;\n        case 7:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1,silver\";\n        break;\n        case 8:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-2,silver\";\n        break;\n        case 9:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-3,silver\";\n        break;\n}\n\n            break;\n\n            case 1:\n            str1 = \"\\n*,*,green\" + \"\\n1,1,silver\";\n            //\n            switch (b)\n{\n        case 0:\n        str2 = \"\";\n        break;\n        case 1:\n        str2 =\"\\n5,1,silver\";\n        break;\n        case 2:\n        str2 =\"\\n5,1-2,silver\";\n        break;\n        case 3:\n        str2 =\"\\n5,1-3,silver\";\n        break;\n        case 4:\n        str2 =\"\\n5,1-4,silver\";\n        break;\n        case 5:\n        str2 =\"\\n5,1-5,silver\";\n        break;\n        case 6:\n        str2 =\"\\n5,1-6,silver\";\n        break;\n        case 7:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1,silver\";\n        break;\n        case 8:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-2,silver\";\n        break;\n        case 9:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-3,silver\";\n        break;\n}\n\n            break;\n\n            case 2:\n            str1 = \"\\n*,*,green\" + \"\\n1,1-2,silver\";\n            //\n            switch (b)\n{\n        case 0:\n        str2 = \"\";\n        break;\n        case 1:\n        str2 =\"\\n5,1,silver\";\n        break;\n        case 2:\n        str2 =\"\\n5,1-2,silver\";\n        break;\n        case 3:\n        str2 =\"\\n5,1-3,silver\";\n        break;\n        case 4:\n        str2 =\"\\n5,1-4,silver\";\n        break;\n        case 5:\n        str2 =\"\\n5,1-5,silver\";\n        break;\n        case 6:\n        str2 =\"\\n5,1-6,silver\";\n        break;\n        case 7:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1,silver\";\n        break;\n        case 8:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-2,silver\";\n        break;\n        case 9:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-3,silver\";\n        break;\n}\n\n            break;\n\n            case 3:\n            str1 = \"\\n*,*,green\" + \"\\n1,1-3,silver\";\n            //\n            switch (b)\n{\n        case 0:\n        str2 = \"\";\n        break;\n        case 1:\n        str2 =\"\\n5,1,silver\";\n        break;\n        case 2:\n        str2 =\"\\n5,1-2,silver\";\n        break;\n        case 3:\n        str2 =\"\\n5,1-3,silver\";\n        break;\n        case 4:\n        str2 =\"\\n5,1-4,silver\";\n        break;\n        case 5:\n        str2 =\"\\n5,1-5,silver\";\n        break;\n        case 6:\n        str2 =\"\\n5,1-6,silver\";\n        break;\n        case 7:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1,silver\";\n        break;\n        case 8:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-2,silver\";\n        break;\n        case 9:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-3,silver\";\n        break;\n}\n\n            break;\n\n            case 4:\n            str1 = \"\\n*,*,green\" + \"\\n1,1-4,silver\";\n            //\n            switch (b)\n{\n        case 0:\n        str2 = \"\";\n        break;\n        case 1:\n        str2 =\"\\n5,1,silver\";\n        break;\n        case 2:\n        str2 =\"\\n5,1-2,silver\";\n        break;\n        case 3:\n        str2 =\"\\n5,1-3,silver\";\n        break;\n        case 4:\n        str2 =\"\\n5,1-4,silver\";\n        break;\n        case 5:\n        str2 =\"\\n5,1-5,silver\";\n        break;\n        case 6:\n        str2 =\"\\n5,1-6,silver\";\n        break;\n        case 7:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1,silver\";\n        break;\n        case 8:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-2,silver\";\n        break;\n        case 9:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-3,silver\";\n        break;\n}\n\n            break;\n            case 5:\n            str1 = \"\\n*,*,green\" + \"\\n1,1-5,silver\";\n            //\n            switch (b)\n{\n        case 0:\n        str2 = \"\";\n        break;\n        case 1:\n        str2 =\"\\n5,1,silver\";\n        break;\n        case 2:\n        str2 =\"\\n5,1-2,silver\";\n        break;\n        case 3:\n        str2 =\"\\n5,1-3,silver\";\n        break;\n        case 4:\n        str2 =\"\\n5,1-4,silver\";\n        break;\n        case 5:\n        str2 =\"\\n5,1-5,silver\";\n        break;\n        case 6:\n        str2 =\"\\n5,1-6,silver\";\n        break;\n        case 7:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1,silver\";\n        break;\n        case 8:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-2,silver\";\n        break;\n        case 9:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-3,silver\";\n        break;\n}\n\n            break;\n            case 6:\n            str1 = \"\\n*,*,green\" + \"\\n1,1-6,silver\";\n            //\n            switch (b)\n{\n        case 0:\n        str2 = \"\";\n        break;\n        case 1:\n        str2 =\"\\n5,1,silver\";\n        break;\n        case 2:\n        str2 =\"\\n5,1-2,silver\";\n        break;\n        case 3:\n        str2 =\"\\n5,1-3,silver\";\n        break;\n        case 4:\n        str2 =\"\\n5,1-4,silver\";\n        break;\n        case 5:\n        str2 =\"\\n5,1-5,silver\";\n        break;\n        case 6:\n        str2 =\"\\n5,1-6,silver\";\n        break;\n        case 7:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1,silver\";\n        break;\n        case 8:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-2,silver\";\n        break;\n        case 9:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-3,silver\";\n        break;\n}\n\n            break;\n\n            case 7:\n            str1 = \"\\n*,*,green\" + \"\\n1,1-6,silver\"+ \"\\n2,1,silver\";\n            //\n            switch (b)\n{\n        case 0:\n        str2 = \"\";\n        break;\n        case 1:\n        str2 =\"\\n5,1,silver\";\n        break;\n        case 2:\n        str2 =\"\\n5,1-2,silver\";\n        break;\n        case 3:\n        str2 =\"\\n5,1-3,silver\";\n        break;\n        case 4:\n        str2 =\"\\n5,1-4,silver\";\n        break;\n        case 5:\n        str2 =\"\\n5,1-5,silver\";\n        break;\n        case 6:\n        str2 =\"\\n5,1-6,silver\";\n        break;\n        case 7:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1,silver\";\n        break;\n        case 8:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-2,silver\";\n        break;\n        case 9:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-3,silver\";\n        break;\n}\n\n            break;\n\n            case 8:\n            str1 = \"\\n*,*,green\" + \"\\n1,1-6,silver\"+ \"\\n2,1-2,silver\";\n            //\n            switch (b)\n{\n        case 0:\n        str2 = \"\";\n        break;\n        case 1:\n        str2 =\"\\n5,1,silver\";\n        break;\n        case 2:\n        str2 =\"\\n5,1-2,silver\";\n        break;\n        case 3:\n        str2 =\"\\n5,1-3,silver\";\n        break;\n        case 4:\n        str2 =\"\\n5,1-4,silver\";\n        break;\n        case 5:\n        str2 =\"\\n5,1-5,silver\";\n        break;\n        case 6:\n        str2 =\"\\n5,1-6,silver\";\n        break;\n        case 7:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1,silver\";\n        break;\n        case 8:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-2,silver\";\n        break;\n        case 9:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-3,silver\";\n        break;\n}\n\n            break;\n\n            case 9:\n            str1 = \"\\n*,*,green\" + \"\\n1,1-6,silver\"+ \"\\n2,1-3,silver\";\n            //\n            switch (b)\n{\n        case 0:\n        str2 = \"\";\n        break;\n        case 1:\n        str2 =\"\\n5,1,silver\";\n        break;\n        case 2:\n        str2 =\"\\n5,1-2,silver\";\n        break;\n        case 3:\n        str2 =\"\\n5,1-3,silver\";\n        break;\n        case 4:\n        str2 =\"\\n5,1-4,silver\";\n        break;\n        case 5:\n        str2 =\"\\n5,1-5,silver\";\n        break;\n        case 6:\n        str2 =\"\\n5,1-6,silver\";\n        break;\n        case 7:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1,silver\";\n        break;\n        case 8:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-2,silver\";\n        break;\n        case 9:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-3,silver\";\n        break;\n}\n\n            break;\n\n            default:\n            str1 = \"\\n*,*,green\";\n            str2 = \"\";\n            break;\n        }\nbreak;\n    }\ndefault:\n    {\n        switch (a)\n        {\n            case 0:\n            str1 = \"\\n*,*,black\";\n            //\n            switch (b)\n{\n        case 0:\n        str2 = \"\";\n        break;\n        case 1:\n        str2 =\"\\n5,1,silver\";\n        break;\n        case 2:\n        str2 =\"\\n5,1-2,silver\";\n        break;\n        case 3:\n        str2 =\"\\n5,1-3,silver\";\n        break;\n        case 4:\n        str2 =\"\\n5,1-4,silver\";\n        break;\n        case 5:\n        str2 =\"\\n5,1-5,silver\";\n        break;\n        case 6:\n        str2 =\"\\n5,1-6,silver\";\n        break;\n        case 7:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1,silver\";\n        break;\n        case 8:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-2,silver\";\n        break;\n        case 9:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-3,silver\";\n        break;\n}\n\n            break;\n\n            case 1:\n            str1 = \"\\n*,*,black\" + \"\\n1,1,silver\";\n            //\n            switch (b)\n{\n        case 0:\n        str2 = \"\";\n        break;\n        case 1:\n        str2 =\"\\n5,1,silver\";\n        break;\n        case 2:\n        str2 =\"\\n5,1-2,silver\";\n        break;\n        case 3:\n        str2 =\"\\n5,1-3,silver\";\n        break;\n        case 4:\n        str2 =\"\\n5,1-4,silver\";\n        break;\n        case 5:\n        str2 =\"\\n5,1-5,silver\";\n        break;\n        case 6:\n        str2 =\"\\n5,1-6,silver\";\n        break;\n        case 7:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1,silver\";\n        break;\n        case 8:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-2,silver\";\n        break;\n        case 9:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-3,silver\";\n        break;\n}\n\n            break;\n\n            case 2:\n            str1 = \"\\n*,*,black\" + \"\\n1,1-2,silver\";\n            //\n            switch (b)\n{\n        case 0:\n        str2 = \"\";\n        break;\n        case 1:\n        str2 =\"\\n5,1,silver\";\n        break;\n        case 2:\n        str2 =\"\\n5,1-2,silver\";\n        break;\n        case 3:\n        str2 =\"\\n5,1-3,silver\";\n        break;\n        case 4:\n        str2 =\"\\n5,1-4,silver\";\n        break;\n        case 5:\n        str2 =\"\\n5,1-5,silver\";\n        break;\n        case 6:\n        str2 =\"\\n5,1-6,silver\";\n        break;\n        case 7:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1,silver\";\n        break;\n        case 8:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-2,silver\";\n        break;\n        case 9:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-3,silver\";\n        break;\n}\n\n            break;\n\n            case 3:\n            str1 = \"\\n*,*,black\" + \"\\n1,1-3,silver\";\n            //\n            switch (b)\n{\n        case 0:\n        str2 = \"\";\n        break;\n        case 1:\n        str2 =\"\\n5,1,silver\";\n        break;\n        case 2:\n        str2 =\"\\n5,1-2,silver\";\n        break;\n        case 3:\n        str2 =\"\\n5,1-3,silver\";\n        break;\n        case 4:\n        str2 =\"\\n5,1-4,silver\";\n        break;\n        case 5:\n        str2 =\"\\n5,1-5,silver\";\n        break;\n        case 6:\n        str2 =\"\\n5,1-6,silver\";\n        break;\n        case 7:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1,silver\";\n        break;\n        case 8:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-2,silver\";\n        break;\n        case 9:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-3,silver\";\n        break;\n}\n\n            break;\n\n            case 4:\n            str1 = \"\\n*,*,black\" + \"\\n1,1-4,silver\";\n            //\n            switch (b)\n{\n        case 0:\n        str2 = \"\";\n        break;\n        case 1:\n        str2 =\"\\n5,1,silver\";\n        break;\n        case 2:\n        str2 =\"\\n5,1-2,silver\";\n        break;\n        case 3:\n        str2 =\"\\n5,1-3,silver\";\n        break;\n        case 4:\n        str2 =\"\\n5,1-4,silver\";\n        break;\n        case 5:\n        str2 =\"\\n5,1-5,silver\";\n        break;\n        case 6:\n        str2 =\"\\n5,1-6,silver\";\n        break;\n        case 7:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1,silver\";\n        break;\n        case 8:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-2,silver\";\n        break;\n        case 9:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-3,silver\";\n        break;\n}\n\n            break;\n            case 5:\n            str1 = \"\\n*,*,black\" + \"\\n1,1-5,silver\";\n            //\n            switch (b)\n{\n        case 0:\n        str2 = \"\";\n        break;\n        case 1:\n        str2 =\"\\n5,1,silver\";\n        break;\n        case 2:\n        str2 =\"\\n5,1-2,silver\";\n        break;\n        case 3:\n        str2 =\"\\n5,1-3,silver\";\n        break;\n        case 4:\n        str2 =\"\\n5,1-4,silver\";\n        break;\n        case 5:\n        str2 =\"\\n5,1-5,silver\";\n        break;\n        case 6:\n        str2 =\"\\n5,1-6,silver\";\n        break;\n        case 7:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1,silver\";\n        break;\n        case 8:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-2,silver\";\n        break;\n        case 9:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-3,silver\";\n        break;\n}\n\n            break;\n            case 6:\n            str1 = \"\\n*,*,black\" + \"\\n1,1-6,silver\";\n            //\n            switch (b)\n{\n        case 0:\n        str2 = \"\";\n        break;\n        case 1:\n        str2 =\"\\n5,1,silver\";\n        break;\n        case 2:\n        str2 =\"\\n5,1-2,silver\";\n        break;\n        case 3:\n        str2 =\"\\n5,1-3,silver\";\n        break;\n        case 4:\n        str2 =\"\\n5,1-4,silver\";\n        break;\n        case 5:\n        str2 =\"\\n5,1-5,silver\";\n        break;\n        case 6:\n        str2 =\"\\n5,1-6,silver\";\n        break;\n        case 7:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1,silver\";\n        break;\n        case 8:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-2,silver\";\n        break;\n        case 9:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-3,silver\";\n        break;\n}\n\n            break;\n\n            case 7:\n            str1 = \"\\n*,*,black\" + \"\\n1,1-6,silver\"+ \"\\n2,1,silver\";\n            //\n            switch (b)\n{\n        case 0:\n        str2 = \"\";\n        break;\n        case 1:\n        str2 =\"\\n5,1,silver\";\n        break;\n        case 2:\n        str2 =\"\\n5,1-2,silver\";\n        break;\n        case 3:\n        str2 =\"\\n5,1-3,silver\";\n        break;\n        case 4:\n        str2 =\"\\n5,1-4,silver\";\n        break;\n        case 5:\n        str2 =\"\\n5,1-5,silver\";\n        break;\n        case 6:\n        str2 =\"\\n5,1-6,silver\";\n        break;\n        case 7:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1,silver\";\n        break;\n        case 8:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-2,silver\";\n        break;\n        case 9:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-3,silver\";\n        break;\n}\n\n            break;\n\n            case 8:\n            str1 = \"\\n*,*,black\" + \"\\n1,1-6,silver\"+ \"\\n2,1-2,silver\";\n            //\n            switch (b)\n{\n        case 0:\n        str2 = \"\";\n        break;\n        case 1:\n        str2 =\"\\n5,1,silver\";\n        break;\n        case 2:\n        str2 =\"\\n5,1-2,silver\";\n        break;\n        case 3:\n        str2 =\"\\n5,1-3,silver\";\n        break;\n        case 4:\n        str2 =\"\\n5,1-4,silver\";\n        break;\n        case 5:\n        str2 =\"\\n5,1-5,silver\";\n        break;\n        case 6:\n        str2 =\"\\n5,1-6,silver\";\n        break;\n        case 7:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1,silver\";\n        break;\n        case 8:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-2,silver\";\n        break;\n        case 9:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-3,silver\";\n        break;\n}\n\n            break;\n\n            case 9:\n            str1 = \"\\n*,*,black\" + \"\\n1,1-6,silver\"+ \"\\n2,1-3,silver\";\n            //\n            switch (b)\n{\n        case 0:\n        str2 = \"\";\n        break;\n        case 1:\n        str2 =\"\\n5,1,silver\";\n        break;\n        case 2:\n        str2 =\"\\n5,1-2,silver\";\n        break;\n        case 3:\n        str2 =\"\\n5,1-3,silver\";\n        break;\n        case 4:\n        str2 =\"\\n5,1-4,silver\";\n        break;\n        case 5:\n        str2 =\"\\n5,1-5,silver\";\n        break;\n        case 6:\n        str2 =\"\\n5,1-6,silver\";\n        break;\n        case 7:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1,silver\";\n        break;\n        case 8:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-2,silver\";\n        break;\n        case 9:\n        str2 =\"\\n5,1-6,silver\"+ \"\\n6,1-3,silver\";\n        break;\n}\n\n            break;\n\n            default:\n            str1 = \"\\n*,*,black\";\n            str2 = \"\";\n            break;\n        }\n    }\n}\nmsg.payload = str1.concat(str2);\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":380,"wires":[["c93fb8b9.1763f8"]]},{"id":"5d699fa2.c63ee","type":"function","z":"25be91ff.90b9ce","name":"Caching Temperature","func":"temp = msg.payload.temperature;\nglobal.set('temp',temp);\nmsg.payload = temp;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":160,"wires":[[]]},{"id":"74fc9741.a24078","type":"wiotp out","z":"25be91ff.90b9ce","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"c129c0de.ba258","deviceType":"raspberrypiGW","deviceId":"b827ebf3431f","event":"event","format":"json","qos":"","name":"","x":795.5078125,"y":122.5234375,"wires":[]},{"id":"a771e955.793e78","type":"wiotp-credentials","z":"","name":"","org":"vk74ch","serverName":"","devType":"raspberrypiGW","devId":"b827ebf3431f","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"1ca0bbf3.133414","type":"wiotp-credentials","z":"","name":"","org":"vk74ch","serverName":"","devType":"raspberrypiGW","devId":"b827ebf3431f","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"c129c0de.ba258","type":"wiotp-credentials","z":"","name":"","org":"vk74ch","serverName":"","devType":"raspberrypiGW","devId":"b827ebf3431f","keepalive":"60","cleansession":true,"tls":"","usetls":false}]