assignment-2.txt
[{"id":"6027e8fb.6422a8","type":"http in","z":"fc4471d2.98f98","name":"/time","url":"/time","method":"get","upload":false,"swaggerDoc":"","x":120,"y":100,"wires":[["913d9a65.a25f48"]]},{"id":"d9804eb7.84ba4","type":"http response","z":"fc4471d2.98f98","name":"HTTP Response","statusCode":"","headers":{},"x":1000.0000152587891,"y":188.7500057220459,"wires":[]},{"id":"1cd60632.c0885a","type":"function","z":"fc4471d2.98f98","name":"Setting HTTP Headers","func":"msg.headers = {\"content-type\" : \"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":770.2500114440918,"y":189.0000057220459,"wires":[["d9804eb7.84ba4"]]},{"id":"913d9a65.a25f48","type":"function","z":"fc4471d2.98f98","name":"curr timestamp","func":"var now = new Date();\n\nvar hours = now.getHours();\nvar minutes = now.getMinutes();\n\nif ( hours < 10 )\n{\n    hours = \"0\" + hours;\n}\n\nif ( minutes < 10 )\n{\n    minutes = \"0\" + minutes\n}\n\nmsg.payload = hours+\":\"+minutes;\n\nreturn msg;","outputs":1,"noerr":0,"x":288,"y":146,"wires":[["89d2ffd7.3db3e","290110ff.d539"]]},{"id":"89d2ffd7.3db3e","type":"template","z":"fc4471d2.98f98","name":"JSON template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"time\" : \"{{payload}}\"}","x":508.50000762939453,"y":145.75000476837158,"wires":[["1cd60632.c0885a"]]},{"id":"27eb71e7.0484ee","type":"http in","z":"fc4471d2.98f98","name":"/random","url":"/random","method":"get","upload":false,"swaggerDoc":"","x":97,"y":211,"wires":[["a1df39ff.652fb8"]]},{"id":"a1df39ff.652fb8","type":"random","z":"fc4471d2.98f98","name":"","low":"1","high":"10","inte":"true","x":253,"y":257,"wires":[["63219ba7.374544","ae25fa0d.789a68","b9af1470.a509b8"]]},{"id":"63219ba7.374544","type":"template","z":"fc4471d2.98f98","name":"JSON template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"random\" : {{payload}} }","x":511.00000762939453,"y":258.2500057220459,"wires":[["1cd60632.c0885a"]]},{"id":"5c0af6e.961ca08","type":"http in","z":"fc4471d2.98f98","name":"/page","url":"/page","method":"get","upload":false,"swaggerDoc":"","x":97,"y":515.2500076293945,"wires":[["493d8b0a.afc8b4"]]},{"id":"ae25fa0d.789a68","type":"function","z":"fc4471d2.98f98","name":"Caching random num","func":"flow.set('lastRandomNum', msg.payload);","outputs":"0","noerr":0,"x":524.7500076293945,"y":333.25000762939453,"wires":[]},{"id":"290110ff.d539","type":"function","z":"fc4471d2.98f98","name":"Caching timestamp","func":"flow.set('lastServerTime', msg.payload);","outputs":"0","noerr":0,"x":518.1250076293945,"y":74.00000381469727,"wires":[]},{"id":"e8e77ba3.3845e8","type":"template","z":"fc4471d2.98f98","name":"Generate HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#lastServerTime}}\nTime last server time request received at {{lastServerTime}}\n{{/lastServerTime}}\n\n{{^lastServerTime}}\nNo server time requests have been received\n{{/lastServerTime}}\n\n<br/>\n{{#lastRandomNum}}\nLast random number request returned {{lastRandomNum}}, which was received at {{lastRandomNumTimestamp}}\n{{/lastRandomNum}}\n\n{{^lastRandomNum}}\nNo requests for random numbers have been received\n{{/lastRandomNum}}","x":541.8750076293945,"y":514.0000076293945,"wires":[["d9804eb7.84ba4"]]},{"id":"493d8b0a.afc8b4","type":"function","z":"fc4471d2.98f98","name":"Get cached values","func":"// Get cached timestamp and random num\n\nvar lastServerTime = flow.get('lastServerTime');\nvar lastRandomNum = flow.get('lastRandomNum');\nvar lastRandomNumTimestamp = flow.get('lastRandomNumTimestamp');\n\nmsg.lastServerTime = lastServerTime;\nmsg.lastRandomNum = lastRandomNum;\nmsg.lastRandomNumTimestamp = lastRandomNumTimestamp;\n\nreturn msg;","outputs":1,"noerr":0,"x":303.12500762939453,"y":515.2500076293945,"wires":[["e8e77ba3.3845e8"]]},{"id":"b9af1470.a509b8","type":"function","z":"fc4471d2.98f98","name":"curr timestamp","func":"var now = new Date();\n\nvar hours = now.getHours();\nvar minutes = now.getMinutes();\n\nif ( hours < 10 )\n{\n    hours = \"0\" + hours;\n}\n\nif ( minutes < 10 )\n{\n    minutes = \"0\" + minutes\n}\n\nmsg.payload = hours+\":\"+minutes;\n\nreturn msg;","outputs":1,"noerr":0,"x":278.12500762939453,"y":390.25000762939453,"wires":[["66542979.5a9cb8"]]},{"id":"66542979.5a9cb8","type":"function","z":"fc4471d2.98f98","name":"Caching random num timestamp","func":"flow.set('lastRandomNumTimestamp', msg.payload);\nreturn msg;","outputs":"0","noerr":0,"x":584.375,"y":390.25,"wires":[]}]